name: Docker Image CI

on:
  push:
    branches: 
    - 'main'

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        docker build -t first-project .
        docker run -p 5000:5000 --name first-project -d first-project
