name: Docker Image CI

on:
  push:
    branches: 
    - 'main'

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Build and Run the Docker image
      run: |
        docker build -t first-project .
        if [ ! -z $DOCKER_LAST_ID ]; then
          docker stop $DOCKER_LAST_ID
        fi
        DOCKER_LAST_ID=docker run -p 5000:5000 -d first-project
