name: Docker Image CI

on:
  pull_request:
    types: [ closed ] 
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Run the Docker image
      run: docker-compose up -d --force-recreate
