name: Docker Image CI

on:
  push:
    branches: 
    - 'main'

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Build and Run the Docker image
      run: |
        if [[ ! -z $(docker ps | grep $CONTAINER_NAME) ]]; then
          docker stop $CONTAINER_NAME
        fi
        docker build -t first-project .
        docker run -p 5000:5000 -d --name $CONTAINER_NAME first-project
      env: 
        CONTAINER_NAME: container
