name: Docker Image CI

on:
  push:
    branches: [ kubernetes ]

jobs:

  build:

    runs-on: self-hosted 

    steps:
    - uses: actions/checkout@v2
    
    - name: Build the Docker image
      run: docker-compose build --force-rm
      
#     - name: Run minikube
#       run: minikube start
      
    - name: Run all resources
      run: |
        kubectl apply -f kubernetes/api-deployment.yaml
        kubectl apply -f kubernetes/api-service.yaml
        kubectl apply -f kubernetes/front-deployment.yaml
        kubectl apply -f kubernetes/front-service.yaml
        kubectl apply -f kubernetes/ingress.yaml
