on:
  push:
    branches: 
      - 'main'

name: Create infrastructure using Terraform

jobs:
  create_infrastructure:
    name: Create
    runs-on: self-hosted
    defaults:
      run:
        working-directory: terraform/infrastracture
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      BRANCH_NAME: ${GITHUB_REF##*/}
      
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Terraform Initialization
      run: terraform init
      
    - name: Change/Create Terraform Workspace
      run: terraform workspace select $BRANCH_NAME || terraform workspace new $BRANCH_NAME
      
    - name: Terraform apply
      run: terraform apply -auto-approve
 
